<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="container">
<div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-header">Login For Doctor</div>
                            <div class="card-body">

                                <form class="form-horizontal" method="post" action="#">
                                    <div class="form-group">
                                        <label for="email" class="cols-sm-2 control-label">UserName</label>
                                        <div class="cols-sm-10">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                                <input type="text" class="form-control" [(ngModel)]="username" name="loginid" placeholder="Enter your Email" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="password" class="cols-sm-2 control-label">Password</label>
                                        <div class="cols-sm-10">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                                <input type="password" class="form-control" [(ngModel)]="password" name="password" placeholder="Enter your Password" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <button (click)="checkLogin()" type="button" class="button-class btn-info">Login</button>
                                    </div>
                                    <div class="login-register">                                      
                                        <a routerLink="" style="padding-right: 200px;">Forgot Password?</a>
                                        <a routerLink="">Don't have an account?? please SignUp here</a>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
      
</div>