<div class="col-md-6">
    <h2 class="text-center">Add User</h2>
    <form>
      <div class="form-group">
        <label for="UserId">User Id</label>
        <input [(ngModel)]="User.user_id" placeholder="User Id" name="User_id" class="form-control" id="UserId">
      </div>
        <div class="form-group">
            <label for="firstname">First Name:</label>
            <input type="firstname" [(ngModel)]="User.firstname" placeholder="First Name" name="first_name" class="form-control" id="firstname">
          </div>
          <div class="form-group">
            <label for="">Middle Name:</label>
            <input type="middlename" [(ngModel)]="User.middlename" placeholder="Middle Name" name="middle" class="form-control" id="middlename">
          </div>
      <div class="form-group">
        <label for="lastname">Last Name:</label>
        <input type="lastname" [(ngModel)]="User.lastname" placeholder="Last Name" name="last_name" class="form-control" id="lastname">
      </div>
      <div class="form-group">
        <label for="dateofbirth">Date Of Birth</label>
        <input type="date" data-date="" data-date-format="DD MMMM YYYY" value="2015-08-09" [(ngModel)]="User.dateofbirth" placeholder="date of birth" name="date_of_birth" class="form-control" id="dateofbirth">
      </div> 
        <div class="form-group">
          <label for="bloodgroup">Blood Group</label>
          <input type="bloodgroup" [(ngModel)]="User.bloodgroup" placeholder="blood group" name="blood_group" class="form-control" id="bloodgroup">
             <div class="form-group">
        <label for="gender">Gender</label>
        <input type="gender" [(ngModel)]="User.gender" placeholder="gender" name="gender" class="form-control" id="gender">
        <div class="form-group">
          <label for="contactno">Contact Number:</label>
        <input type="contactno" [(ngModel)]="User.contactno" placeholder="contact no" name="contactno" class="form-control" id="contactno">
      </div>
   
        <div class="form-group">
          <label for="email">Email:</label>
        <input type="email" [(ngModel)]="User.email" placeholder="email" name="email" class="form-control" id="email">
      </div>
   
        <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" [(ngModel)]="User.password" placeholder="Password" name="password" class="form-control" id="password">
      </div>
      <div class="form-group">
        <label for="doctorsid">Doctor's ID:</label>
        <input type="doctorsid" [(ngModel)]="User.doctorsid" placeholder="doctor's id" name="doctorsid" class="form-control" id="doctorsid">
      </div>

    <button class="btn btn-success" (click)="createUser()">Create</button>
    </div>
  </div>