
<section class="container">
<h2>Welcome {{firstname}}</h2>
<h5>Your Profile Details ::</h5>
<h5>First Name                    :     {{firstname}}</h5>
<h5>Middle Name                    :     {{middlename}}</h5>
<h5>Last Name                    :     {{lastname}}</h5>
<h5>Date of Birth                    :     {{dateofbirth}}</h5>
<h5>Blood Group                   :     {{bloodgroup}}</h5>
<h5>Gender                   :     {{gender}}</h5>
<h5>ContactNo                 :     {{contactno}}</h5>
<h5>ContactNo                 :     {{contactno}}</h5>
<h5>Emailid                :     {{email}}</h5>


</section>